
h1{
    color:pink
}

p{
    color:greenyellow
}

*{
    border:solid
}

.header{
    background-color:cyan;
    display: flex ;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.footer{
    display:flex;
    justify-content: flex-end;
}